body {
    display: flex;
    flex-wrap: wrap;
}

h1 {
  font-family: 'Jost', sans-serif;
  font-weight: 900;
  
}

.imgstyle {
    width: 100%;
    height: auto;
}

.leftsection {
    display: flex;
    flex: 1;
    width: 50%;
    height: 100vh;
    background: linear-gradient(
    349deg,
    rgba(132, 0, 255, 1) 0%,
    rgba(72, 72, 255, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
}
.rightsection {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    height: 100vh;
    position: relative;
}

.text {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  margin-bottom: 10vh;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .leftsection {
      display: flex;
      width: 100%;
      flex: none;
      height: 75vh;
    }
    .rightsection {
      position: relative;
    }
    .contact {
      position: absolute;
      bottom: 0;
      margin-bottom: 2vh;
      width: 80%;
    }
    .button {
      display: block;
      margin: auto;
    }
  }

  @media only screen and (max-width: 425px) {
    .leftsection {
      display: flex;
      width: 100%;
      flex: none;
      height: 40vh;
    }
  }