html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Jost", sans-serif;
  font-weight: 900;
  margin: 0px;
  font-size: 16px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.header {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 0px 2rem;
  justify-content: space-between;
  backdrop-filter: blur(1rem);
}
.contactBTN {
  background-color: black;
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
}
.contactBTN-outline {
  background-color: transparent;
}
.title {
  max-width: 70%;
  font-weight: 800;
  margin-top: 5rem;
  font-size: 3rem;
}
.product-img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}
.leftsection {
  display: flex;
  width: 50%;
  height: 100vh;
  background: linear-gradient(
    349deg,
    rgba(132, 0, 255, 1) 0%,
    rgba(72, 72, 255, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );
}
.rightsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 2rem;
  height: 100vh;
}
.text {
  font-weight: 300;
  max-width: 70%;
}
.team {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}
.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 0rem;
  text-align: center;
}
.team-pic {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0rem 1.5rem;
  border-radius: 10rem;
}
.school {
  width: 100%;
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 200;
}
.only-text {
  text-align: center;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}
.role {
  font-weight: 200;
  margin: 0;
}
.non-lin{
  background: transparent;
}
@media only screen and (max-width: 768px) {
  .leftsection {
    display: flex;
    width: 100%;
    height: 100%;
    flex: none;
    justify-content: center;
  }
  .rightsection {
    width: 100%;
    text-align: center;
    align-items: center;
    height: 100%;
  }
  .title {
    font-size: 2rem;
  }
  .product-img{
    width: 90%;
  }
}
